[submodule "py-faster-rcnn"]
	path = py-faster-rcnn
	url = https://github.com/jugg1024/py-faster-rcnn.git
[submodule "datasets/coco-text/coco-text-tool"]
	path = datasets/coco-text/coco-text-tool
	url = https://github.com/jugg1024/coco-text.git
